body {
    background-color: rgb(218, 218, 218);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: 0.85rem;
}

header {
    margin: 0;
    font-size: large;
}

p {
    margin: 0;
}

.capa {
    width: 100%;
    margin: auto;

}

.container {
    background-color: #FFFFFF;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: auto;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.secao {
    background-color: #eeeeee;
    margin-bottom: 20px;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.titulosecao {
    margin: 15px 15px 10px 15px;
    font-weight: 700;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.descricao {
    font-size: 11px;
    font-weight: 600;
    padding: 5px;
}

.preco {
    font-weight: 700;
    color: rgb(8, 125, 8);
    margin-bottom: 5px;
}

input {
    width: 75%;
    border: none;
    border-radius: 3px;
    padding: 0.4rem;
    margin: 9px;
}
input:focus {
    outline: none;
    box-shadow: 0 0 8px #CCCCCC;
}

.formulario {
    padding-bottom: 20px;
}

button {
    border: none;
    border-radius: 3px;
    background-color: rgb(89, 89, 211);
    color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button:hover{
    background-color:  rgb(43, 43, 97);
    cursor: pointer;
}

#output{
    text-align: left;
    margin-top: 20px;
}